.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.file-upload {
  margin-bottom: 20px;
}

.file-upload-label {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #e0e0e0;
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px #fff, inset -2px -2px 5px #999, 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.file-upload-label:hover {
  background-color: #d0d0d0;
}

.file-input {
  display: none;
}

.table-container {
  width: 100%;
  max-width: 90%;  /* Adjust the max-width to control the table's width */
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.styled-table th, .styled-table td {
  border: 1px solid #ddd;
  padding: 8px;  /* Reduced padding for a more compact look */
  text-align: left;
}

.styled-table th {
  background-color: #f2f2f2;
  cursor: pointer;
}

.styled-table th:hover {
  background-color: #e0e0e0;
}

.styled-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.styled-table tr:hover {
  background-color: #f1f1f1;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 90%;  /* Adjust the max-width to match the table's width */
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

